  <!-- Scripts -->
  {% set v = "?v=" + buildHash if buildHash else "" %}
  <script src="/js/components.js{{ v }}" defer></script>
  <script src="/js/install-prompt.js{{ v }}" defer></script>
  <script src="/js/tracking.js{{ v }}" defer></script>
  <script src="/js/tracking-loader.js{{ v }}" defer></script>
  <script src="/js/cookie-consent.js{{ v }}" defer></script>
  <script src="/js/main.js{{ v }}" defer></script>
  <script src="/js/lead-capture-loader.js{{ v }}"
          data-popup-css="/css/popup.css{{ v }}"
          data-popup-src="/js/popup.js{{ v }}"
          defer></script>
