  <!-- Scripts -->
  <script src="/js/components.js" defer></script>
  <script src="/js/install-prompt.js" defer></script>
  <script src="/js/tracking.js" defer></script>
  <script src="/js/tracking-loader.js" defer></script>
  <script src="/js/cookie-consent.js" defer></script>
  <script src="/js/main.js" defer></script>
  <script src="/js/lead-capture-loader.js"
          data-popup-css="/css/popup.css"
          data-popup-src="/js/popup.js"
          defer></script>
