<!DOCTYPE html>
<html lang="hu">
<head>
{% include "partials/head.njk" %}
</head>
<body>
  <!-- GTM noscript fallback -->
  <noscript><iframe title="Google Tag Manager" src="https://www.googletagmanager.com/ns.html?id=GTM-M6H5WKVM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <a href="#main-content" class="skip-link">Ugrás a tartalomhoz</a>
{% include "partials/header.njk" %}
  <main id="main-content">
    {{ content | safe }}
  </main>
{% include "partials/footer.njk" %}
{% include "partials/scripts.njk" %}
</body>
</html>
